@charset "UTF-8";

@font-face {
    font-family: travelFont;
    src: url(font/CaacupeOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(227, 227, 227);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, blue, rgb(32, 0, 194));
    padding: 0 10px;
    flex-wrap: wrap;
}

header > h1 {
    color: white;
    font-size: 1.5rem;
    align-self: center;
    margin: 10px 0;
    font-family: travelFont;
    color: white;
    font-size: 2.5rem;
}

header > nav {
    display: flex;
    gap: 20px;
    margin: 10px 0px;
}
header > nav > input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    align-self: center;
    padding: 10px 10px;
}

header > nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    gap: 20px;
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: yellow;
}

main > h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}

main > p {
    text-align: center;
    margin: 20px 0;
}

section {
    padding: 20px;
}

section > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

div#imgTravel {
    background-image: url('img/viagem01.jpg');
    background-position: center center;
    background-size: cover;
    width: 90vw;
    height: 60vh;
    border-radius: 10px;
    margin: auto; 


}

div#imgTravel:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}

#allTravelCards {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.travelCard {
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    border-radius: 10px;
}

.travelCard > .travelCardImg {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.travelCard > div > img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.travelCard > div > img:hover {
    transform: scale(1.10);
}

.travelCardContent > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: black;
    margin-top: 10px;
}

.travelCardContent > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    margin-top: 10px;
}


.travelCard > .travelCardContent {
    padding: 10px;
}

.travelCard > hr {
    border: 1px solid rgb(145, 145, 145);
    margin: 10px 0;
}

.travelCard > div > button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

#visualImagem {
    width: 100%;
    height: 70vh;
    background-image: url('img/viagem03.jpg');
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
}

#visualImagem > h2 {
    font-family: travelFont;
    font-size: 4rem;
    color: white;
    text-align: center;
    padding-top: 20vh;
}

#visualImagem > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    height: 10vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}


footer {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    padding: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 0px rgba(0, 0, 0, 1);
}

footer > div {
    height: auto;
    width: 200px;
}

footer > div > h2, a {
    display: block;
    margin-bottom: 5px;
}

footer h2 {
    font-size: 1.2em;
    color: gray;
}

footer a {
    color: gray;
    text-decoration: none;
}

footer a:hover {
    color: rgb(186, 186, 186);
}