@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, blue, rgb(32, 0, 194));
    padding: 0 20px;
}

header > h1 {
    color: white;
    font-size: 1.5rem;
    align-self: center;
}

header > nav {
    display: flex;
    gap: 20px;
}
header > nav > input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    align-self: center;
    padding: 10px 10px;
}

header > nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    gap: 20px;
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: yellow;
}

main > h1 {
    text-align: center;
    font-size: 2.5rem;
}

main > p {
    text-align: center;
}

section {
    padding: 20px;
}

section > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

div#imgTravel {
    background-image: url('img/viagem01.jpg');
    background-position: center center;
    background-size: cover;
    width: 90vw;
    height: 60vh;
    border-radius: 10px;
    margin: auto;


}

#allTravelCards {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    

}

.travelCard {
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    border-radius: 10px;
}

.travelCard > .travelCardImg {
    width: 100%;
    height: 200px;
}

.travelCard > div > img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.travelCardContent > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: black;
    margin-top: 10px;
}

.travelCardContent > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    margin-top: 10px;
}


.travelCard > .travelCardContent {
    padding: 10px;
}

.travelCard > hr {
    border: 1px solid rgb(145, 145, 145);
    margin: 10px 0;
}

.travelCard > div > button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

