@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, blue, rgb(32, 0, 194));
    padding: 0 20px;
}

header > h1 {
    color: white;
    font-size: 1.5rem;
    align-self: center;
}

header > nav {
    display: flex;
    gap: 20px;
}
header > nav > input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    align-self: center;
    padding: 10px 10px;
}

header > nav > ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    gap: 20px;
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: yellow;
}

main > h1 {
    text-align: center;
    font-size: 2.5rem;
}

main > p {
    text-align: center;
}

section {
    padding: 20px;
}
div#imgTravel {
    background-image: url('img/viagem01.jpg');
    background-position: center center;
    background-size: cover;
    width: 90vw;
    height: 60vh;
    border-radius: 10px;
    margin: auto;


}

.travelCard {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.travelCard > div > img {
    width: 100%;
    height: 50%;
    border-radius-top-left: 10px;
    border-radius-top-right: 10px;
}

.travelCard > .travelCardContent {
    padding: 10px;
}
